.App {
  background-color: #fde8a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-button {
  background-color: #ffb95ea8;
  color: #c03e02;
  border: 1px solid #be51094d;
  border-radius: 25px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  width: 30%;
  height: 30%;
}

.header-button:hover {
  background-color: #f8ab47;
  transform: scale(1.1);
}

.header-text {
  line-height: 8px;
}

#byron {
  padding: 1fr;
}

#search-container {
  position: fixed;
  top: 0;
  width: 50%;
  padding: 20px;
  margin: auto;
  color: #c03e02;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

#ingredients {
  width: calc(100% - (20px + 0.75rem));
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #be51094d;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  margin: 1rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.clear-btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
